#container {
    display:flex ;
}
.cartao {
    margin: 1rem 1rem;
}
.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
}
.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
}